.page_bg {
  background-color: #b2e4fa;
  width: 100vw;
  height: 89vh;
}

.sidebar_nav_menu {
  background-color: #43c0f6;
  width: 13%;
  height: 100%;
}

.sidebar_nav_menu_items {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
}

.profile {
  display: flex;
  justify-content: center;
  padding: 2.75em 0 2.2125em 0;
}

.sidebar_nav_text {
  list-style: none;
  height: 5em;
  text-transform: uppercase;
  font-family: "open-sans";
  font-size: 0.975em;
}

.sidebar_nav_text #active {
  background-color: #b2e4fa;
  color: #707070;
}

.sidebar_nav_text_bottom {
  display: inline-flex;
  margin-left: 15%;
  list-style: none;
  line-height: 3em;
  text-transform: uppercase;
  font-family: "open-sans";
  font-weight: bold;
  font-size: 0.525em;
}

.bottom_items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar_nav_text a {
  text-decoration: none;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.sidebar_nav_text_bottom a {
  text-decoration: none;
  color: white;
}

.sidebar_nav_text a:hover {
  background-color: #b2e4fa;
  color: #707070;
}

.sidebar_nav_text_bottom a:hover {
  color: #707070;
}

.text_icon {
  margin-left: 15%;
  display: grid;
  place-items: center;
}

.text_title {
  flex: 70%;
}

/* Sidebar toggle */
.close_sidebar {
  background: #b2e4fa;
  width: 2.65%;
  left: 10.36%;
  padding: 1.5em;
  position: absolute;
  margin-top: 24%;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

.closed_sidebar {
  background: #b2e4fa;
  width: 2.65%;
  left: 0%;
  padding: 1.5em;
  position: absolute;
  margin-top: 31%;
  border-bottom-right-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.close_sidebar:hover {
  cursor: pointer;
}

.closed_sidebar:hover {
  cursor: pointer;
}

/* collapsed sidebar */
.sidebar_nav_menu_closed {
  background-color: #43c0f6;
  width: 6.5%;
  height: 100%;
}

.sidebar_nav_text_closed #active {
  background-color: #b2e4fa;
  color: #707070;
}

.text_title_closed {
  display: none;
}

.sidebar_nav_text_bottom_closed {
  margin-left: 45%;
  list-style: none;
}
