/* Structure */
.frame {
    padding:5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:#EEEEEE;
    height:max-content;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2ch;
    border-color: #E2DFDF;
    border-style:solid;
    border-width: 1px;
    padding: 2%;
    margin: 1%;
    max-height: 300px;
    background-color: #FFFFFF;
}


.profile {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    border-radius: 2ch;
    border-color: #E2DFDF;
    border-style: solid;
    border-width: 1px;
    padding: 2%;
    margin:1%;
    min-height: 400px;
    background-color: #FFFFFF;
    width:min-content;
}

/* Skinning */

.profilepic {
    border-radius: 50%;
    width: 100%;
    max-width: 150px;
    max-height: 150px;
    height: auto;
}

.btn_back {
    background-color:#f91c85;
    color: white;
    border-style: none;
    border-radius: 2ch;
    width: max-content;
    height: 30px;
    position: relative;
    top:34em;
    right:12em;
    
}

h {
    font-size:3rem;
    text-align:center;
    color:#707070;
    margin: 2%;
}


label { 
    font-size: 1.5rem;
    color: #A5A5A5;
    width: 530px;
    }

input {
    border-style: hidden;
    font-size: 1.5rem;
    color: #707070;
    float: right;
    background-color: #FFFFFF;
}



.btn_edit {
    background-color: white;
    border-radius: 2ch;
    border-style: solid;
    border-color: #43C0F6;
    color: #43C0F6;
    width: 175px;
    height: 35px;
    margin-top: 35px;
}
/* Skinning */
@import url('https://use.typekit.net/wjd7ohr.css');

* {
    font-weight: 700;
    letter-spacing: 0.4px;
    font-family: Nunito;
    font-size: 16px;
   
}


@media screen and (max-width:769px) {

    *{
        font-size: 12px;
    }
    .frame {
            flex-direction: column;           
    }

    h{
        
    }

    .btn_edit{
        margin-top: 10px;
    }

    label {
            display: flex;
            flex-direction: column;
            width: fit-content;
            margin-left: 5%;
        }

    .btn_back {
        border-radius: 50%;
        position: fixed;
        right: 10px;
        top: 80px;
        width:60px;
        height:60px;
        font-size:0.9em;
    }
    .profile {
         width: auto;
    }
}
