*{
    color: #767676;
}

filterTitle {
    font-size: small;
    border-bottom-style: solid;
    border-color: #767676;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

filterSectionEnd {
    margin-bottom: 20%;
}



.filterList{
color: red;
}