#introHome{
    font-family: 'nunito';
    display: flex;
    flex-direction: column;
    height: 20.5vw;
    background-image: url('../../../assets/images/home/Hero.png');
    background-size:100%;
    background-repeat: no-repeat;
}

#introHomeTitle{
    width: 55%;
    color: #6C6C6C;
    font-size: 3vw;
    font-weight: 700;
    padding: 2% 10% 1%;
    line-height: normal;
}

#specialWord{
    font-weight: 900;
    color: #42C0F6;
}

#introHomeContent{
    font-family: 'open-sans';
    width: 50%;
    color: #6C6C6C;
    padding: 0px 10%;
    font-size: 1.2vw;
    font-weight: 700;
}

#introHomeButtons{
    display: flex;
    margin: 1vw 17vw;
    border-radius: 6px;
}

.buttonHome{
    font-family: 'nunito';
    font-size: 0.8vw;
    height: 1.4vw;
    width: 9vw;
    text-align: center;
    /* padding: 0 auto; */
    border-radius: 6px;
    box-shadow: 0 4px 5px #00000029;
    font-weight: 900;
}

#learn{
    color: #707070;
    border: 0.2vw solid #43C0F6;
}

#SignUp{
    margin:0 3.5vw;
}

#SignUpButton{
    color: #F0EFEF;
    background-color: #F91C85;
    border: none;
}

#TAndC{
    padding: 1% 0;
    width: 9vw;
    font-family: 'open-sans';
    font-size: 0.5vw;
    font-weight: 700;
    color: #707070;
    text-align: center;
}

