/* Structure */


#studentHome {
    display: flex;
    flex-direction: row ;
    width:100%;
    font-family: "open-sans", sans-serif;
}

#studentProjects {
display: flex;
flex-direction: row;
font-family: "open-sans", sans-serif;

}

#studentContent  {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    width: 80%;
    margin-left: 5%;
    margin-right: 7%;
    text-align: right;
}

#pageTitle {
    margin-left: 25%;
    margin-right: 7%;
    margin-top:5%;
    margin-bottom:5%;
    font-family: "open-sans", sans-serif;
    font-weight: 700;
    color: #767676;
}

#pageOptions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:fit-content;
    margin-right: 5%;
    color:#767676;
}

#filter {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 15%;
    padding-left: 7%;
    color: #767676;

}

#projects{
    display:flex;
    flex-wrap: wrap;
}

.showProject{
    align-items: center;
    text-align: center;
    padding-top: 2%;
    padding-right: 4%;
    font-family: open-sans, sans-serif;
    color: #767676;
    cursor: pointer;
}

.pic {
    border-radius: 3ch;
    border-style:outset;
    border-color:#C7C5C5;
    border-width: 1px;
    resize: both;
    width: 300px;
    height: 220px;
    max-width: 300px;
    max-height: 220px;
    align-items: center;
}

/* Skinning */

@import url('https://use.typekit.net/wjd7ohr.css');

* {
    font-weight: 700;
    letter-spacing: 0.4px;
    font-size:16px;
    font-family:'open-sans';
}

.title{
    font-family:'nunito';
    font-size:2.5rem;
}

.intro{
    font-size:1.3rem;
}

.projName{
    font-family: 'nunito';
    font-size: 1.5rem;
    color:#707070;
    font-weight: bolder;
}

.projProps{
font-family: 'nunito';
    font-size: 1.5rem;
    color: #767676;
}
